
html{
    
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    box-shadow:2px 0px 10px #5B1B92;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    padding-top: 5px;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid #303030;
    margin-bottom: 25px;
    margin-top: 25px;
}
.home img{
    margin-left: 220px;
    height: 400px;
    width: 100vw;
}
.home{
    margin-top: -8PX;
}
.abt h1{
    margin-left: 270px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 40px;
}
.abt h2{
    margin-left: 270px;
    padding-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-weight: lighter;
}
.abt img{
    margin-top: 20px;
    margin-left: 270px;
    width: 350px;
    height: 350px;
    float: left;
    box-shadow: 0px 0px 5px #5B1B92;
    margin-right: 20px;
}
.abt span{
    color: #5B1B92;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.b1:hover{
    box-shadow: 0px 0px 10px #5B1B92;
}
.b2:hover {
    box-shadow: 0px 0px 10px #5B1B92;
}
.b3:hover {
    box-shadow: 0px 0px 10px #5B1B92;
}
.b1{
    grid-area: b1;
    border: 2px solid #5B1B92;
    border-radius: 5px;
}
.b2 {
    grid-area: b2;
    border: 2px solid #5B1B92;
    border-radius: 5px;
}
.b3 {
    grid-area: b3;
    border: 2px solid #5B1B92;
    border-radius: 5px;
}
.container {
    margin-left: 360px;
    margin-right: 115px;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 70px;
    display: grid;
    width: auto;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "b1 b2 b3";
}
.resume{
    text-align: center;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 10px gray;
    background-color: bisque;
    padding-left: 125px;
}
html {
    scroll-behavior:smooth;
}
.footer{
    background-color: #303030;
    color: #f1f1f1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 5px;
    padding-left: 250px;
}